<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Convert Video to Audio with captions</h1>
      <hr>
      <!-- Makes POST request to /login route -->
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" accept="video/mp4,video/x-m4v,video/*" name="videofile">
        <hr>
        <button type="submit" value="upload" class="btn btn-light btn-lg">Upload video</button>
      </form>
      <hr>
      <% if(converted===true) { %>
        <button type="submit" class="btn btn-dark btn-lg">Download audio file</button>
        <% } %>
    </div>
  </div>

  <%- include('partials/footer') %>